<!DOCTYPE html>
<html>
<head>
	<title>RiMi</title>
</head>
<body>
	<button onclick="startCamera()" class="bg-black font-bold px-4 py-2 rounded-md text-white">Allow Access</button>

	<!-- Camera -->
    <!-- ---------- -->
    <!-- Allow the user to capture photos and take other camera actions. -->
    <section id="camera" v-if="stream" class="absolute flex flex-col inset-0 items-center justify-end px-4 py-8 z-20">
      <footer>
        <button class="capture" onclick="capturePhoto()">
          <!-- <img src="https://assets.codepen.io/141041/Button-Fill-White-Large.png" alt="CodePen" class="h-24 w-24" :disabled="!ready"> -->
          Smile :)
        </button>
	    <button class="recognizeFile" onclick="recognizeFile()">Generate Text</button>
	    <button class="readTheText" onclick="readTheText()">Read Text</button>	    
		<div id="log"></div>		
      </footer>
    </section>

    <!-- Download -->
    <!-- ---------- -->
    <!-- Allow the user to preview and download the captured photo or return to camera. -->
    <section id="download" v-if="photo" class="absolute bg-white flex flex-col inset-0 items-center justify-between px-4 py-8 z-30">
      <header>
        <button onclick="unsetPhoto()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class="h-10 md:h-12 lg:h-16 w-10 lg:w-12 md:w-16"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
        </button>
      </header>
      
      <article>
        <img id="photo" src="" alt="Photo" class="h-64 w-64">
      </article>	      
	      
      <footer>
        <button onclick="downloadPhoto()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class="h-10 md:h-12 lg:h-16 w-10 lg:w-12 md:w-16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
        </button>
      </footer>

	    </section>	    

    <!-- Video -->
    <!-- ---------- -->
    <video ref="video" class="absolute h-full inset-0 object-cover w-full z-10" autoplay muted playsinline></video>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/5.14.0/load-image.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/5.14.0/load-image-scale.min.js"></script>
    <script type="text/javascript" src="./tesseract.dev.js"></script>    
    <script type="text/javascript">
    	(function(){

    		this.stream = null;
    		this.ready = false;
    		this.photo = null;
    		this.video = document.querySelector("video");

    		async function startCamera() {
		      this.stream = await navigator.mediaDevices.getUserMedia({
		        audio: false,
		        video: {
		          facingMode: 'environment'
		        }
		      })
		      
		      this.video.srcObject = this.stream
		      
		      this.video.onloadedmetadata = (e) => {
		        this.ready = true
		      }
		      
		      this.video.onended = (e) => {
		        this.ready = false
		        this.stream = null
		      }
		    }

		    function capturePhoto() {
		      let video = this.video		      
		      let videoCanvas = document.createElement('canvas')      
		      videoCanvas.height = video.videoHeight
		      videoCanvas.width = video.videoWidth      
		      let videoContext = videoCanvas.getContext('2d')
		      
		      videoContext.drawImage(video, 0, 0)
		      
		      this.photo = loadImage.scale(videoCanvas, {
		        maxHeight: videoCanvas.height,
		        maxWidth: videoCanvas.width,
		        cover: true,
		        crop: true,
		        canvas: true
		      })

		      document.querySelector("#photo").src = photo.toDataURL('image/jpeg');
		    }

		    function downloadPhoto() {
		      this.photo.toBlob(blob => {
		        let data = window.URL.createObjectURL(blob)
		        let link = document.createElement('a')

		        link.href = data
		        link.download = "photo.jpg"
		        link.click()
		      }, 'image/jpeg')
		    }

		    function unsetPhoto(){
		    	this.photo = null;
		    	document.querySelector("#photo").src = "";
		    }

		    function progressUpdate(packet){
		    	console.log(packet);
		    	if(packet.status == 'done'){
		    		var text = packet.data.data.text;
					text = text.replaceAll('\n', '');
					var pre = document.createElement('pre');
					pre.appendChild(document.createTextNode(text));					
					document.querySelector("#log").appendChild(pre);
				}
		    }

		    async function recognizeFile() {
				document.querySelector("#log").innerHTML = '';				
				// const corePath = window.navigator.userAgent.indexOf("Edge") > -1
				// 	? '../../node_modules/tesseract.js-core/tesseract-core.asm.js'
				// 	: '../../node_modules/tesseract.js-core/tesseract-core.wasm.js';
				// const corePath = 'https://cdnjs.cloudflare.com/ajax/libs/tesseract.js/2.1.5/worker.min.js';
				const corePath = 'tesseract-core.wasm.js';
				// const lang = document.querySelector('#langsel').value;
				const lang = 'eng';
				const data = await Tesseract.recognize(
					this.photo.toDataURL('image/jpeg'),
					lang, 
					{
						corePath,
						logger: progressUpdate,
					}
				);
				progressUpdate({ status: 'done', data });
			}

			function readTheText(){
				var msg = new SpeechSynthesisUtterance();
				msg.text = document.querySelector("#log pre").innerHTML;
				window.speechSynthesis.speak(msg);
			}

		    window.startCamera = startCamera;
		    window.capturePhoto = capturePhoto;
		    window.downloadPhoto = downloadPhoto;
		    window.unsetPhoto = unsetPhoto;
		    window.recognizeFile = recognizeFile;
		    window.readTheText = readTheText;
    	})()
    </script>
</body>
</html>